*{
    /* includes padding and ... */ 
    box-sizing: border-box;
}

body{
    background-color : black;
    padding: 20px 30px;
}


h3{
    color: lightgreen;
}

.form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}



img
{
    /* constrain images on small screens */
    max-width: 100%;
}

/* Tables  */
th, td{
    text-align: left;
}

th{
    color: whitesmoke;
}

td{
    color: lightgreen;
}

.table-center{
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    justify-content: center; 
}

@media (max-width:500px){
    .table-col-hide{
        display: none;
    }
}

@media (max-width:400px){
    table{
        font-size: 12px;
    }
}
/* navbar */

.navbar{
    position: sticky;
    top: 16px;
}

.flashed{
    position: sticky;
    top:6em;
}
nav .navbar-brand
{
    /* size for brand */
    font-size: x-large;
}

@media screen and (min-width: 700px){
    nav li > a{
      font-size: 18px;
    }
}



