<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" 
         href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script 
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer>
        </script>
        <!-- Popper JS -->
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer>
        </script>
        <!-- Latest compiled JavaScript -->
        <script 
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer>
        </script>
        
        <!-- https://favicon.io/emoji-favicons/ -->
        <link href="/static/favicon-card.ico" rel="icon">
        <!--<link href="/static/android-chrome-192x192.png" rel="icon"> -->

        <link href="/static/styles.css" rel="stylesheet">
        <title>Finance: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark m-3">
            <a class="navbar-brand" href="/"><span class="blue"></span><span class="red">
            </span><span class="yellow"></span><span class="green"></span> 
            <span class="red">Finance</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/quote"
                         data-toggle='tooltip' title="Name symbol" data-placement='bottom'>
                         Quote</a></li>
                        <li class="nav-item"><a class="nav-link" href="/buy"
                            data-toggle='tooltip' title="Buy stocks" data-placement='bottom'>
                            Buy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sell"
                            data-toggle='tooltip' title="Sell stocks" data-placement='bottom'>
                            Sell</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history"
                          data-toggle='tooltip' title="List transactions" data-placement='bottom'>History</a></li>
                        <li class="nav-item"><a class="nav-link" href="/change"
                         data-toggle='tooltip' title="Change password" data-placement='bottom'>
                          Password</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                    <script src="/static/tooltip_init.js" defer></script>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                    <!-- <li class="nav-item"><a class="nav-link" href="/checkform"> Check</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header class="flashed">
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        
        <div id="modal-div"></div>
        {% block main %}{% endblock %}
        {% block scripts %}{% endblock %}
        
        <footer class="small text-center text-muted">
            Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.
        </footer>

    </body>

</html>
