{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form class = 'form-inline' action="" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" 
            placeholder="Symbol or Company" type="text" id = 'quote-search'>
        </div>
        <!-- <button class="btn btn-primary" type="submit">Quote</button> -->
    </form>

    <div class="" id="search"></div>
    <div class="" id="result"></div>
{% endblock %}
{% block scripts %}
<script src="/static/quote.js"></script>
{% endblock %}
