{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" 
            placeholder="Symbol" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
{% block scripts %}
<script src="/static/modal_class.js"></script>
<script src="/static/quote.js"></script>
{% endblock %}
